[Unit]
Description=Polyfill Server
#Requires=After=mysql.service

[Service]
ExecStart=/usr/local/bin/node /usr/local/var/lib/polyfill-service/bin/polyfill-service
# Required on some systems
WorkingDirectory=/usr/local/var/lib/polyfill-service/
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=polyfill
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production PORT=8130

[Install]
WantedBy=multi-user.target
